In [1]:
import spacy

In [10]:
nlp = spacy.load("en_core_web_sm")

nlp.pipe_names # Checking the pipelines included in the model loaded

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [16]:
doc = nlp("Chem Kai wants to acquire Twitter and tesla for $40 billion.")

for token in doc.ents:
    print(token,"|",token.label_,"|",spacy.explain(token.label_))

Chem Kai | PERSON | People, including fictional
Twitter | PRODUCT | Objects, vehicles, foods, etc. (not services)
$40 billion | MONEY | Monetary values, including unit

In [17]:
from spacy import displacy

displacy.render(doc,style="ent")

In [18]:
# List down all the entities
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [33]:
# Setting custom entities
doc = nlp("Chem Kai wants to acquire Twitter and tesla for $40 billion dollars.")
for token in doc.ents:
    print(token,"|",token.label_,"|",spacy.explain(token.label_))

Chem Kai | PERSON | People, including fictional
Twitter | PRODUCT | Objects, vehicles, foods, etc. (not services)
$40 billion dollars | MONEY | Monetary values, including unit

In [34]:
s = doc[7:8]
s

tesla

In [35]:
type(s)

spacy.tokens.span.Span

In [59]:
doc = nlp("Chem Kai wants to acquire Twitter and tesla for $40 billion dollars.")

In [60]:
from spacy.tokens import Span

s2 = Span(doc, 7,8, label="ORG")

doc.set_ents([s2,s1],default="unmodified")

In [61]:
for token in doc.ents:
    print(token,"|",token.label_,"|",spacy.explain(token.label_))

Chem Kai | PERSON | People, including fictional
Twitter | ORG | Companies, agencies, institutions, etc.
tesla | ORG | Companies, agencies, institutions, etc.
$40 billion dollars | MONEY | Monetary values, including unit

In [26]:
# Extracting all the geographical 

text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc1 = nlp(text)

for token in doc1.ents:
    if token.label_ =='GPE':
        print(token,"|",token.label_,"|",spacy.explain(token.label_))

India | GPE | Countries, cities, states
Delhi | GPE | Countries, cities, states
Gujarat | GPE | Countries, cities, states
Tamilnadu | GPE | Countries, cities, states
Pongal | GPE | Countries, cities, states
Andhrapradesh | GPE | Countries, cities, states
Assam | GPE | Countries, cities, states
Bihar | GPE | Countries, cities, states

In [62]:
# Extracting all the dates
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)

for token in doc.ents:
    if token.label_ == "DATE":
        print(token,"|",token.label_,"|",spacy.explain(token.label_))

24 April 1973 | DATE | Absolute or relative dates or periods
5 November 1988 | DATE | Absolute or relative dates or periods
7 July 1981 | DATE | Absolute or relative dates or periods
19 December 1974 | DATE | Absolute or relative dates or periods