In [1]:
import spacy

from spacy.lang.en.stop_words import STOP_WORDS
nlp = spacy.load("en_core_web_sm")

In [2]:
len(STOP_WORDS)

326

In [3]:
# Steps to pre-process stop word
sen = "This is a good way to start you NLP journey by exercising this tutorial."
doc = nlp(sen)

for token in doc:
    if not token.is_stop:
        print(token)

good
way
start
NLP
journey
exercising
tutorial
.

In [4]:
def Preprocess(sent):
    doc = nlp(sent)
    
    li = [token.text for token in doc if not token.is_stop and not token.is_punct]
    return " ".join(li)

In [5]:
Preprocess("This is a primary example of how to preprocess a sentence or paragraph.")

'primary example preprocess sentence paragraph'

In [6]:
import pandas as pd

df = pd.read_json('combined.json',lines=True)
df.head(5)

,id,title,contents,date,topics,components
0,None,Convicted Bomb Plotter Sentenced to 30 Years,"PORTLAND, Oregon. – Mohamed Osman Mohamud, 23,...",2014-10-01T00:00:00-04:00,[],[National Security Division (NSD)]
1,12-919,$1 Million in Restitution Payments Announced t...,WASHINGTON – North Carolina’s Waccamaw River...,2012-07-25T00:00:00-04:00,[],[Environment and Natural Resources Division]
2,11-1002,$1 Million Settlement Reached for Natural Reso...,BOSTON– A $1-million settlement has been...,2011-08-03T00:00:00-04:00,[],[Environment and Natural Resources Division]
3,10-015,10 Las Vegas Men Indicted \r\nfor Falsifying V...,WASHINGTON—A federal grand jury in Las Vegas...,2010-01-08T00:00:00-05:00,[],[Environment and Natural Resources Division]
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division]

In [7]:
# df["New_content"] = df.contents.apply(Preprocess)

In [8]:
df.shape

(13087, 6)

In [9]:
df = df[df.topics.str.len()!=0]
df.head(3)

,id,title,contents,date,topics,components
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division]
7,14-1412,14 Indicted in Connection with New England Com...,A 131-count criminal indictment was unsealed t...,2014-12-17T00:00:00-05:00,[Consumer Protection],[Civil Division]
19,17-1419,2017 Southeast Regional Animal Cruelty Prosecu...,The United States Attorney’s Office for the Mi...,2017-12-14T00:00:00-05:00,[Environment],"[Environment and Natural Resources Division, U..."

In [10]:
df = df.head(50)

In [11]:
df["New_content"] = df.contents.apply(Preprocess)

In [12]:
df.head(3)

,id,title,contents,date,topics,components,New_content
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division],U.S. Department Justice U.S. Environmental Pro...
7,14-1412,14 Indicted in Connection with New England Com...,A 131-count criminal indictment was unsealed t...,2014-12-17T00:00:00-05:00,[Consumer Protection],[Civil Division],131 count criminal indictment unsealed today B...
19,17-1419,2017 Southeast Regional Animal Cruelty Prosecu...,The United States Attorney’s Office for the Mi...,2017-12-14T00:00:00-05:00,[Environment],"[Environment and Natural Resources Division, U...",United States Attorney Office Middle District ...

In [13]:
df.contents[4][:150]

'The U.S. Department of Justice, the U.S. Environmental Protection Agency (EPA), and the Rhode Island Department of Environmental Management (RIDEM) an'

In [14]:
df.New_content[4][:150]

'U.S. Department Justice U.S. Environmental Protection Agency EPA Rhode Island Department Environmental Management RIDEM announced today subsidiaries S'

In [15]:
'''
    - From a Given Text, Count the number of stop words in it.
    - Print the percentage of stop word tokens compared to all tokens in a given text.
'''
text = '''
Thor: Love and Thunder is a 2022 American superhero film based on Marvel Comics featuring the character Thor, produced by Marvel Studios and 
distributed by Walt Disney Studios Motion Pictures. It is the sequel to Thor: Ragnarok (2017) and the 29th film in the Marvel Cinematic Universe (MCU).
The film is directed by Taika Waititi, who co-wrote the script with Jennifer Kaytin Robinson, and stars Chris Hemsworth as Thor alongside Christian Bale, Tessa Thompson,
Jaimie Alexander, Waititi, Russell Crowe, and Natalie Portman. In the film, Thor attempts to find inner peace, but must return to action and recruit Valkyrie (Thompson),
Korg (Waititi), and Jane Foster (Portman)—who is now the Mighty Thor—to stop Gorr the God Butcher (Bale) from eliminating all gods.
'''

In [20]:
len(text)

767

In [25]:
doc = nlp(text)

count = 0
Token = 0
for token in doc:
    if token.is_stop:
        count +=1
    Token +=1
per = count/Token *100
print("Number of stop_words:",count,"\npercentage of stop words compared to all the tokens:",per)

Number of stop_words: 40
percentage of stop words compared to all the tokens: 25.0

In [24]:
count

40

In [27]:
text1 = ''' The India men's national cricket team, also known as Team India or the Men in Blue, represents India in men's international cricket.
It is governed by the Board of Control for Cricket in India (BCCI), and is a Full Member of the International Cricket Council (ICC) with Test,
One Day International (ODI) and Twenty20 International (T20I) status. Cricket was introduced to India by British sailors in the 18th century, and the 
first cricket club was established in 1792. India's national cricket team played its first Test match on 25 June 1932 at Lord's, becoming the sixth team to be
granted test cricket status.
'''

doc1 = nlp(text1)
doc1 = Preprocess(doc1)
doc1

'  India men national cricket team known Team India Men Blue represents India men international cricket \n governed Board Control Cricket India BCCI Member International Cricket Council ICC Test \n Day International ODI Twenty20 International T20I status Cricket introduced India British sailors 18th century \n cricket club established 1792 India national cricket team played Test match 25 June 1932 Lord sixth team \n granted test cricket status \n'